body{
    background-color: #7F27FF;
}
.pd {
    background-color:#9F70FD;
    height: 1000px;
}
.form {
    background-color: #FDBF60;
    height: 170px;
    margin-left: 30px;
    padding-top: 40px;
    padding-left: 20px;
}
h3{
   background-color: #FF8911;
   height: 25px;
   width: 75px;
   position: relative;
   top: 30px;
   left: 50px;
   text-align: center;
   border-radius: 9px;
}
.hello{
    width: 130px;
    position: relative;
    top: -6px;
    text-align: center;
}
input {
    width: 200px;
    height: 20px;
    margin-left: 10px;
    border-radius: 9px;
    border-style: none;
}
label[for="Male"]{
   border: 10px;
   
}
.form2{
    margin-left: 30px;
    padding-top: 40px;
    padding-left: 20px;;
    
}
label{
    display: inline-block;
    width: 100px;;
}
input[type="submit"]{
    width: 100px;
    height: 30px;
    margin-left: 160px;
    border-radius: 9px;
    border-style: none;
}
select{
    width: 200px;
    height: 30px;
    margin-left: 10px;
    border-radius: 9px;
    border-style: none;
}